*{margin:0;padding:0;}
html, body {
	width: 100%;
}
header{
	width: 100%;
}
#container {
	margin: 0 auto;
}
#nav{
	width: 100%;
}
a {
  color: #00b7ff;
  font-size: 20px;
  text-decoration: none;
}
a:hover{
	text-decoration: none;
}

ul{
	clear: both;
}
li{
  background: #f0f0f0;
	width: 33.3%;
	list-style-type: none;
	display: inline-block;
}
li:hover{
	background: #FF0;
}
