html, body{
	height: 100%;
	width: 100%;
}

body{
	-webkit-animation:  background 5s infinite;
	animation: background 5s infinite;
}


@-webkit-keyframes background {
  0% { background-color: #FFF; }
  33% { background-color: #EEE; }
  67% { background-color: #333; }
  100% { background-color: #000; }
}

@keyframes background {
  0% { background-color: #FFF; }
  33% { background-color: #EEE; }
  67% { background-color: #333; }
  100% { background-color: #000; }
}


#container{ position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  z-index: 999;
  position:absolute;
}

h1{
	-webkit-animation:  notyet 5s infinite;
	animation:  notyet 5s infinite;
	text-align: center;
}

@-webkit-keyframes notyet {
  0% { color: #000;font-size: 25px; }
  33% { color: #333;font-size: 50px; }
  67% { color: #F00;font-size: 50px; }
  100% { color: #FFF;font-size: 25px; }
}

@keyframes notyet {
  0% { color: #000;font-size: 25px; }
  33% { color: #333;font-size: 50px; }
  67% { color: #F00;font-size: 50px; }
  100% { color: #FFF;font-size: 25px; }
}
/*

html, body{
	height: 100%;
	width: 100%;
}

body{
	-webkit-animation:  background 60s infinite;
	animation: background 60s infinite;
}
h1{
	-webkit-animation:  notyet 120s infinite;
	animation:  notyet 120s infinite;
}

@-webkit-keyframes background {
  0%   { background-color: #FFFFFF; }
  10%  { background-color: #DDDDDD; }
  20%  { background-color: #ADADAD; }
  30%  { background-color: #8C8C8C; }
  40%  { background-color: #818181; }
  50%  { background-color: #6E6E6E; }
  60%  { background-color: #636363; }
  70%  { background-color: #505050; }
  80%  { background-color: #3F3F3F; }
  90%  { background-color: #383838; }
  100% { background-color: #000000; }
}
@keyframes background {
  0%   { background-color: #FFFFFF; }
  10%  { background-color: #DDDDDD; }
  20%  { background-color: #ADADAD; }
  30%  { background-color: #8C8C8C; }
  40%  { background-color: #818181; }
  50%  { background-color: #6E6E6E; }
  60%  { background-color: #636363; }
  70%  { background-color: #505050; }
  80%  { background-color: #3F3F3F; }
  90%  { background-color: #383838; }
  100% { background-color: #000000; }
}


@-webkit-keyframes notyet {
  100% { color: #FFFFFF; }
  90%  { color: #DDDDDD; }
  80%  { color: #ADADAD; }
  70%  { color: #8C8C8C; }
  60%  { color: #818181; }
  50%  { color: #6E6E6E; }
  40%  { color: #636363; }
  30%  { color: #505050; }
  20%  { color: #3F3F3F; }
  10%  { color: #383838; }
  0%   { color: #000000; }
}
@keyframes notyet {
  100% { color: #FFFFFF; }
  90%  { color: #DDDDDD; }
  80%  { color: #ADADAD; }
  70%  { color: #8C8C8C; }
  60%  { color: #818181; }
  50%  { color: #6E6E6E; }
  40%  { color: #636363; }
  30%  { color: #505050; }
  20%  { color: #3F3F3F; }
  10%  { color: #383838; }
  0%   { color: #000000; }
} */